.col_1-1{
    width: 80%;
    display: inline-block;
}
.col_1-2{
    width: 20%;
    display: inline-block;
    position: fixed;
}
@media screen  and (max-width:425px ){
    .col_1-2{
        display: none;
    }
    .col_1-1{
        width: 100%;
    }
}