.container div {
    float: left;
}
.col_1-1{
    width: 80%;
    display: inline-block;
}
.col_1-2{
    width: 20%;
    display: inline-block;
    position: fixed;
}
@media screen  and (max-width:425px ){
    .col_1-2{
        display: none;
    }
}
main{
    min-height:100vh;
    margin-left:5%
}