*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container_navbar{
    display: flex;
}
main{
    width:100% ;
    padding: 20px;
}
.sidebar{
display: flex;
flex-direction: column;
height:98%;
position: fixed;
align-items: center;

background: #FFFFFF;
border-radius: 8px;

transition: all 0.5s;

}
.icon {

display: inline;
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.container_navbar-title{
    display: block;
    margin-top: 20px;
    font-family: 'Cabin';
    font-style: normal;
    font-size: 18px;
    color: black;

}
.container_navbar-title:hover{
    cursor: pointer;
}

.link{
    display: inline-flex;
    color: black;
    transition: all 0.5s;
    text-decoration: none;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex: none;
}
.link:hover{
    background: #1A1F16;
    border-radius: 10px;
    color: white;
    
}
.active{
    background: #1A1F16;
    border-radius: 10px;
    color: white;
    
}
p{
    margin-bottom: 0;
}
.link_text{
    font-family: 'Cabin';
font-style: normal;
font-size: 20px;
}
.container_navbar{
    gap: 10px;
    padding: 8px;
}
.logo_style{
    display: block;
    width: 100%;
}
.bars{
    display: block;
}
.bars:hover{
    cursor: pointer;
}