@font-face {
	font-family: 'Cabin'; 
	src: url(./Fonts/Cabin.ttf); 
}
.title-cart{
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 59px;
}
.conteiner-bag-cart{
    display: inline-flex;
    align-items: center;
    justify-content: center;
background: #FFFFFF;
border-radius: 21px;
margin-top: 2%;
height: 250px;
width: 90%;
}
.conteiner-bag-cart-for-img{
    margin: 1%;
    width: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.conteiner-bag-cart-img{
    margin: 1%;
    width: 50%;
}
.conteiner-bag-cart-text{
    width: 75%;
    display: inline-block;
}
.conteiner-bag-cart-title{
    display: inline-block;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 31.25px;
    line-height: 38px;
    
   
}
.conteiner-bag-cart-desc{
    margin-top: 2%;
    color: #60695C;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
   
}
.conteiner-bag-cart-price{
    display: inline-block;
    width: 90px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 100px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 2%;

}
.conteiner-bag-cart-item-change{
display: inline;
margin-left: 80%;
align-items: center;
justify-content: center;
}
.conteiner-bag-cart-quantity{
    display: inline;
    font-family: 'Cabin';
    font-style: normal;
    font-size: 20px;
}
.conteiner-bag-cart-item-change-minus{
 color: red;
 width: 1%;
 margin-right: 1%;
}
.conteiner-bag-cart-item-change-plus{
    color: green;
    width: 1%;
    margin-left: 1%;
}
.conteiner-bag-cart-total-after{
    display: none;
    
}
.btn-bag-link{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Cabin';

    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;
    gap: 8px;
    background: #1A1F16;
    border-radius: 14px;
    margin-top: 5%;
    
}
.btn-bag-link:hover{
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(0, 0, 0),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.conteiner-bag-cart-total{
font-family: 'Cabin';
font-style: normal;
font-size: 20px;
margin-top: 5%;
text-align: center;
}
@media screen  and (max-width:1024px ){
    .conteiner-bag-cart-item-change{
        margin-left: 70%;
        
    }
    .conteiner-bag-cart-item-change-minus,.conteiner-bag-cart-item-change-plus{
        width: 3%;
    }
}
@media screen  and (max-width:768px ){
    .conteiner-bag-cart-item-change-minus,.conteiner-bag-cart-item-change-plus{
        width: 5%;
    }
    .conteiner-bag-cart-item-change{
        margin-left: 60%
    }
}
@media screen  and (max-width:425px ){
    .conteiner-bag-cart{
        width: 89%;
        margin-left: 6%;
        height: auto;
        padding: 15px;
    }
    .conteiner-bag-cart-for-img{
        width: 60%;
    }
    .conteiner-bag-cart-item-change-minus,.conteiner-bag-cart-item-change-plus{
        width: 5%;
    }
    .conteiner-bag-cart-item-change{
        margin-left: 28%
    }
    .title-cart{
        margin-left: 5%;
        font-size: 1.9rem;
        
    }
    .conteiner-bag-cart-total-after{
        display: block;
    }
    .conteiner-bag-cart-title{
        font-size: 1.5rem;
    }
    .conteiner-bag-cart-desc , .conteiner-bag-cart-price ,.conteiner-bag-cart-quantity{
        font-size: 1rem;
    }
    .conteiner-bag-cart-total-after{
        margin-left: 35%;
        
    }
}

@media screen  and (max-width:375px ){
    .conteiner-bag-cart{
        width: 89%;
        margin-left: 8%;
        height: auto;
        padding: 15px;
    }
    .conteiner-bag-cart-item-change-minus,.conteiner-bag-cart-item-change-plus{
        width: 5%;
    }
    .conteiner-bag-cart-item-change{
        margin-left: 18%
    }
    .title-cart{
        margin-left: 13%;
        font-size: 1.6rem;
    }
    .conteiner-bag-cart-title{
        font-size: 1.3rem;
    }
    .conteiner-bag-cart-desc , .conteiner-bag-cart-price {
        font-size: 0.8rem;
    }
    
}
@media screen  and (max-width:320px ){
    .conteiner-bag-cart{
        width: 89%;
        margin-left: 9%;
        height: auto;
        padding: 15px;
    }
    .conteiner-bag-cart-item-change-minus,.conteiner-bag-cart-item-change-plus{
        width: 5%;
    }
    .conteiner-bag-cart-item-change{
        margin-left: 2%
    }
    .title-cart{
        margin-left: 13%;
        font-size: 1.3rem;
    }
    .conteiner-cart-total{
        margin-left: 30%;
    }
}