.input-search{
background: #FFFFFF;
box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
border-radius: 13px;
display: block;
height: 46px;
width: 40%;
margin-left: 30%;
outline: none;
border: 0;
font-family: 'Cabin';
font-size: 20px;
padding-left: 5px;
margin-bottom: 5%;
}
@font-face {
	font-family: 'Cabin'; 
	src: url(./Fonts/Cabin.ttf); 
}


.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	font-family: 'Cabin';
	
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
.form_radio_btn input[type=radio]:checked + label {
	background: #000000;
	color:#FFFFFF
}
.form_radio_btn label:hover {
	color: #666;
}
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

@media screen  and (max-width:1024px ){
	.input-search{
    width: 60%;
	margin-left: 20%;
	}
}

@media screen  and (max-width:770px ){
	.conteiner-main-card{
		margin-left: 30%;
		width: 100%;
	}
	.input-search{
		width: 80%;
		margin-left: 10%;
	}
}

@media screen  and (max-width:425px ){
	.conteiner-main-card{
		margin-left: 20%;
		width: 80%;
	}
	.input-search{
		width: 90%;
		
	}
	.container-form_radio_btn{
        margin-left: 20%;
        width: 80%;
        margin-bottom: 10px;
    }
	.form_radio_btn{
		margin-top: 10px;
	}

}
@media screen  and (max-width:375px ){
	.container-form_radio_btn{
        margin-left: 20%;
        
    }
	.conteiner-main-card{
		margin-left: 25%;
	}
}
@media screen  and (max-width:321px ){
	.container-form_radio_btn{
        margin-left: 15%;
        
    }
}